body {
    background-color: #e8f1f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    background-position: 80%, 100%;
    color: #fff;
    text-align:center;
    padding: 20px;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0em;
    margin-bottom: 0em;
}

nav {
    background-color: #97EAEE;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

main {
    margin: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 0em;
}

.duze {
    font-size: 25px;
}

.lewo {
    color:#333;
    position:absolute;
    font-size: 25px;
    margin-top: 0em;
    left: 6%;
    top: 55%;
}

.prawo {
    color: #333;
    position: absolute;
    font-size: 25px;
    margin-top: 0em;
    right: 3%;
    top: 55%;
}

section p {
    font-size: 18px;
    text-align: center;
}


.works_title {
    display: inline;
    padding: 3px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    right: 10%;
}

.main-title {
    position: absolute;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:18%;
    left:20%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:150px;
    text-shadow:
            -1px -1px 5px #0000001f,
            1px -1px 5px #0000001f,
            -1px 1px 5px #0000001f,
            1px 1px 5px #0000001f;
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
}